<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EFaturaEDMPort">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.edmbilisim.com.tr/EFaturaEDM21ea/EFaturaEDM.svc"
                binding="basicHttpBinding" bindingConfiguration="EFaturaEDMPort"
                contract="ServiceReference1.EFaturaEDMPort" name="EFaturaEDMPort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Business.Properties.Settings>
            <setting name="Business_tr_com_edmbilisim_test_EFaturaEDM" serializeAs="String">
                <value>https://test.edmbilisim.com.tr/EFaturaEDM21ea/EFaturaEDM.svc</value>
            </setting>
        </Business.Properties.Settings>
    </applicationSettings>
</configuration>