@{
    var BirimListesi = Business.EFatura.BirimBll.GetirBirimListesi();
}

<form method="post" action="/Home/Index">
    <div class="form-group row">
        <div class="col-12">
            <button type="button" onClick="cloneitem()" class="btn btn-primary btn-sm btn-add-new-line">Ekle</button>
            <button type="submit" class="btn btn-primary" name="btnFaturaOlustur" value="btnFaturaOlustur"><i class="fa fa-save"></i><br />E-Fatura Oluştur</button>
            <button type="submit" class="btn btn-warning" name="btnYazdir" value="btnYazdir" @(ViewBag.FaturaNo == null ? " disabled " : "")><i class="fa fa-print"></i><br />Yazdır</button>
            <button type="submit" class="btn btn-warning" name="btnKaydet" value="btnKaydet" <i class="fa fa-print"></i><br />KAYDET</button>

        </div>
    </div>
    <div class="form-group row">
        <div class="col-12 col-md-6">
            <div class="form-group row">
                <label for="CariKod" class="col-12 col-md-2 col-form-label">Cari Kodu</label>
                <div class="col-12 col-md-4">
                    <input type="text" class="form-control" id="CariKod" name="CariKod" value="120-00001" />
                </div>
            </div>
            <div class="form-group row">
                <label for="CariAd" class="col-12 col-md-2 col-form-label">Cari Adı</label>
                <div class="col-12 col-md-4">
                    <input type="text" class="form-control" id="CariAd" name="CariAd" value="Sefa" />
                </div>
            </div>
            <div class="form-group row">
                <label for="TarihSaat" class="col-12 col-md-2 col-form-label">Tarih-Saat</label>
                <div class="col-12 col-md-4">
                    <input type="text" class="form-control" id="TarihSaat" name="TarihSaat" value="@(DateTime.Now.ToString("dd.MM.yyyy HH:mm"))" />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group row">
                <label for="FaturaNo" class="col-12 offset-md-6 col-md-2 col-form-label text-md-right">Fatura No</label>
                <div class="col-12 col-md-4">
                    <input type="text" class="form-control" id="FaturaNo" name="FaturaNo" value="MGU2020000000001" />
                </div>
            </div>
            <div class="form-group row">
                <label for="Sube" class="col-12 offset-md-6 col-md-2 col-form-label text-md-right">Şube</label>
                <div class="col-12 col-md-4">
                    <select name="Sube" class="form-control" style="min-width:100px">
                        <option value="7e8832de-d6cc-4711-8bee-aec83dcd1c33">ANKARA</option>
                        <option value="d555374e-df51-4765-a47c-5d5d8126948d">BURSA</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <table id="tblFaturaKalemleri" class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Stok Kodu</th>
                <th>Stok Adı</th>
                <th>Miktar</th>
                <th>Birim</th>
                <th>Birim Fiyat</th>
                <th>Tutar</th>
                <th>İsk.Oranı%</th>
                <th>İskonto</th>
                <th>Net Tutar</th>
                <th>Kdv Oranı%</th>
                <th>Kdv</th>
                <th>Toplam Tutar</th>
                <th style="width:150px;">    </th>
            </tr>
        </thead>
        <tbody class="invoice-item-body">

        <td><input type="text" class="form-control StokKod" name="EFaturaDetay[0].StokKod" /></td>
        <td><input type="text" class="form-control StokAd" name="EFaturaDetay[0].StokAd" /></td>
        <td><input type="number" min="0" step="1" class="form-control text-right Miktar" name="EFaturaDetay[0].Miktar" value="2" /></td>
        <td>
            <select name="EFaturaDetay[0].Birim" class="form-control Birim" style="min-width:100px">

                <option value="0">ADET</option>
                <option value="1">LİTRE</option>


            </select>
        </td>
        <td><input type="number" min="0" step="0.01" class="form-control text-right Fiyat" name="EFaturaDetay[0].Fiyat" /></td>
        <td><input type="number" min="0" step="0.01" class="form-control text-right Tutar" name="EFaturaDetay[0].Tutar" readonly /></td>
        <td><input type="number" min="0" step="1" class="form-control text-right IskontoOran" name="EFaturaDetay[0].IskontoOran" /></td>
        <td><input type="number" min="0" step="0.01" class="form-control text-right IskontoTutar" name="EFaturaDetay[0].IskontoTutar" /></td>
        <td><input type="number" min="0" step="0.01" class="form-control text-right NetTutar" name="EFaturaDetay[0].NetTutar" readonly /></td>
        <td><input type="number" min="0" step="1" class="form-control text-right KdvOran" name="EFaturaDetay[0].KdvOran" /></td>
        <td><input type="number" min="0" step="0.01" class="form-control text-right KdvTutar" name="EFaturaDetay[0].KdvTutar" readonly /></td>
        <td><input type="number" min="0" step="0.01" class="form-control text-right ToplamTutar" name="EFaturaDetay[0].ToplamTutar" readonly /></td>

        <td><button onClick="deleteinvoiceitem(this)" type="button" class="btn btn-danger btn-delete-invoice-item">Sil</button></td>
        </tr>
        </tbody>
        <tfoot>
            <tr>

                <td class="text-right" style="vertical-align:middle" colspan="11">Ara Toplam</td>
                <td><input type="number" step="0.01" class="form-control text-right" name="AraToplam" readonly /></td>
            </tr>
            <tr>
                <td class="text-right" style="vertical-align:middle" colspan="11">İskonto Toplam</td>
                <td><input type="number" step="0.01" class="form-control text-right" name="IskontoToplam" readonly /></td>
            </tr>
            <tr>
                <td class="text-right" style="vertical-align:middle" colspan="11">Net Toplam</td>
                <td><input type="number" step="0.01" class="form-control text-right" name="NetToplam" readonly /></td>
            </tr>
            <tr>
                <td class="text-right" style="vertical-align:middle" colspan="11">Kdv Toplam</td>
                <td><input type="number" step="0.01" class="form-control text-right" name="KdvToplam" readonly /></td>
            </tr>
            <tr>
                <td class="text-right" style="vertical-align:middle" colspan="11">Genel Toplam</td>
                <td><input type="number" step="0.01" class="form-control text-right" name="GenelToplam" readonly /></td>
            </tr>
        </tfoot>
    </table>

</form>

<script>
    $(document).on("change", ".IskontoOran", function () {

        var _this = $(this);
        var $tr = _this.closest("tr");

        var $Tutar = $tr.find(".Tutar");
        var $IskontoOran = $tr.find(".IskontoOran");
        var $IskontoTutar = $tr.find(".IskontoTutar");

        var Tutar = ToJsDoubleOrDefault($Tutar.val());
        var IskontoOran = Math.round((ToJsDoubleOrDefault($IskontoOran.val()) / 100) * 100) / 100;//18=>0.18
        var IskontoTutar = Math.round(Tutar * IskontoOran * 100) / 100;

        $IskontoTutar.val(IskontoTutar);
        $IskontoTutar.trigger("change");

    });


    $(document).on("change", ".Miktar,.Fiyat,.IskontoTutar,.IskontoTutar,.KdvOran", function () {
        var _this = $(this);
        var $tr = _this.closest("tr");

        var $Miktar = $tr.find(".Miktar");
        var $Fiyat = $tr.find(".Fiyat");
        var $Tutar = $tr.find(".Tutar");
        var $IskontoOran = $tr.find(".IskontoOran");
        var $IskontoTutar = $tr.find(".IskontoTutar");
        var $NetTutar = $tr.find(".NetTutar");
        var $KdvOran = $tr.find(".KdvOran");
        var $KdvTutar = $tr.find(".KdvTutar");
        var $ToplamTutar = $tr.find(".ToplamTutar");





        var Miktar = ToJsDoubleOrDefault($Miktar.val());
        var Fiyat = ToJsDoubleOrDefault($Fiyat.val());
        var Tutar = Math.round(Miktar * Fiyat * 100) / 100;


        var IskontoTutar = ToJsDoubleOrDefault($IskontoTutar.val());
        var IskontoOran = Math.round(IskontoTutar / Tutar * 100 * 100) / 100;

        $IskontoOran.val(IskontoOran);

        var NetTutar = Math.round((Tutar - IskontoTutar) * 100) / 100;

        var KdvOran = Math.round((ToJsDoubleOrDefault($KdvOran.val()) / 100) * 100) / 100;//18=>0.18
        var KdvTutar = Math.round(NetTutar * KdvOran * 100) / 100;
        var ToplamTutar = Math.round((NetTutar + KdvTutar) * 100) / 100;

        $Tutar.val(Tutar);
        $NetTutar.val(NetTutar);
        $KdvTutar.val(KdvTutar);
        $ToplamTutar.val(ToplamTutar);

        AltToplamHesapla();

    });

    function AltToplamHesapla() {
        var $AraToplam = $("input[name='AraToplam']");
        var $IskontoToplam = $("input[name='IskontoToplam']");
        var $NetToplam = $("input[name='NetToplam']");
        var $KdvToplam = $("input[name='KdvToplam']");
        var $GenelToplam = $("input[name='GenelToplam']");

        var AraToplam = 0;
        var IskontoToplam = 0;
        var NetToplam = 0;
        var KdvToplam = 0;
        var GenelToplam = 0;

        $("#tblFaturaKalemleri tbody tr").each(function () {
            var $tr = $(this);

            var $Tutar = $tr.find(".Tutar");
            var $IskontoTutar = $tr.find(".IskontoTutar");
            var $NetTutar = $tr.find(".NetTutar");
            var $KdvTutar = $tr.find(".KdvTutar");
            var $ToplamTutar = $tr.find(".ToplamTutar");


            AraToplam += ToJsDoubleOrDefault($Tutar.val());
            IskontoToplam += ToJsDoubleOrDefault($IskontoTutar.val());
            NetToplam += ToJsDoubleOrDefault($NetTutar.val());
            KdvToplam += ToJsDoubleOrDefault($KdvTutar.val());
            GenelToplam += ToJsDoubleOrDefault($ToplamTutar.val());
        });


        AraToplam = Math.round(AraToplam * 100) / 100;
        IskontoToplam = Math.round(IskontoToplam * 100) / 100;
        NetToplam = Math.round(NetToplam * 100) / 100;
        KdvToplam = Math.round(KdvToplam * 100) / 100;
        GenelToplam = Math.round(GenelToplam * 100) / 100;


        $AraToplam.val(AraToplam);
        $IskontoToplam.val(IskontoToplam);
        $NetToplam.val(NetToplam);
        $KdvToplam.val(KdvToplam);
        $GenelToplam.val(GenelToplam);
    }



    //Kullanım
    //ToJsDouble("1.216.254,56");
    //Dikkat Buraya gelen sayı C# sayı biçimi olmalı 1.512.216,16 gibi
    function ToJsDouble(val, round) {

        if (typeof val === "undefined") {
            val = 0;
        }
        if (typeof val !== "string") {
            val = val.toString();
        }

        val = val.replace(/[^\d,.-]/g, '');//replace non-numerics
        //val = val.toString().replace(/\./i, '');
        val = val.replace(",", ".");



        if (round != null && round != undefined) {
            p = Math.pow(10, round);
            return Math.round(parseFloat(val) * p) / p;
        } else {
            return parseFloat(val);
        }

    }


    //Kullanım
    //ToJsDoubleOrDefault("1.216.254,56");
    //Dikkat Buraya gelen sayı C# sayı biçimi olmalı 1.512.216,16 gibi
    //NaN yerine 0 döner
    function ToJsDoubleOrDefault(val, round) {

        return (ToJsDouble(val, round) || 0);
    }

    $(function () {



    });



    let i = 1

    function cloneitem() {

        var $invoiceitem =


            `<tr>
    <td><input type="text" class="form-control StokKod" name="EFaturaDetay[${i}].StokKod" /></td>
   <td><input type="text" class="form-control StokAd" name="EFaturaDetay[${i}].StokAd" /></td>
    <td><input type="number" min="0" step="1" class="form-control text-right Miktar" name="EFaturaDetay[${i}].Miktar" value="2" /></td>
     <td>
      <select name="EFaturaDetay[${i}].Birim" class="form-control Birim" style="min-width:100px">

           <option value="0">ADET</option>
            <option value="1">LİTRE</option>


     </select>
      </td>
       <td><input type="number" min="0" step="0.01" class="form-control text-right Fiyat" name="EFaturaDetay[${i}].Fiyat" /></td>
      <td><input type="number" min="0" step="0.01" class="form-control text-right Tutar" name="EFaturaDetay[${i}].Tutar" readonly /></td>
        <td><input type="number" min="0" step="1" class="form-control text-right IskontoOran" name="EFaturaDetay[${i}].IskontoOran" /></td>
       <td><input type="number" min="0" step="0.01" class="form-control text-right IskontoTutar" name="EFaturaDetay[${i}].IskontoTutar" /></td>
       <td><input type="number" min="0" step="0.01" class="form-control text-right NetTutar" name="EFaturaDetay[${i}].NetTutar" readonly /></td>
        <td><input type="number" min="0" step="1" class="form-control text-right KdvOran" name="EFaturaDetay[${i}].KdvOran" /></td>
        <td><input type="number" min="0" step="0.01" class="form-control text-right KdvTutar" name="EFaturaDetay[${i}].KdvTutar" readonly /></td>
       <td><input type="number" min="0" step="0.01" class="form-control text-right ToplamTutar" name="EFaturaDetay[${i}].ToplamTutar" readonly /></td>

        <td><button onClick="deleteinvoiceitem(this)" type="button" class="btn btn-danger btn-delete-invoice-item">Sil</button></td>
                 </tr>
  `

        $('.invoice-item-body').append($invoiceitem);
        i++


    }



    function deleteinvoiceitem(data) {
        $(data).parent().parent().remove();
        hesapla();
    }


</script>




